<h1>Events Happening Each Day</h1>
<canvas id="myChart" width="500" height="400"></canvas>

<h1>Clicks Happening Each Day</h1>
<canvas id="myBarChart" width="500" height="400"></canvas>

<h1>Click Locations</h1>
<% @events_type.each do |e| %>
  <p><%= e.location %> on <%= e.created_at.strftime("%b %d, %Y") %></p>
<% end %>
<h1>All Events</h1>
<table>
  <thead>
    <tr>
      <th>Web property</th>
      <th>Type</th>
      <th>Ip address</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.web_property_id %></td>
        <td><%= event.type %></td>
        <td><%= event.ip_address %></td>
        <td><%= event.location %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<!-- Data for line graph data showing all events by day --> 
<div id="value-data" class="hidden">
  <%= @events.count(group: "DATE(created_at)").values %>
</div>
<div id="value-label" class="hidden">
  <%= @events.count(group: "DATE(created_at)").keys.to_json %>
</div>

<!-- Data for bar graph showing all clicks by day --> 
<div id="count" class="hidden">
  <%= @events.where(type: "click").count(group: "DATE(created_at)").values %>
</div>
<div id="count-date" class="hidden">
  <%= @events.where(type: "click").count(group: "DATE(created_at)").keys.to_json %>
</div>

  


<%= link_to 'New Event', new_event_path %>
