<p id="notice"><%= notice %></p>

<p>
  <strong>Web property:</strong>
  <%= @event.web_property_id %>
</p>

<p>
  <strong>Type:</strong>
  <%= @event.type %>
</p>

<p>
  <strong>Ip address:</strong>
  <%= @event.ip_address %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
